*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    width: 100%;
}
.main{
    background-color: #000;
    position: absolute;
    width: 100%;
}
.content{
    position: relative;
}

.search {
    justify-content: center;
    display: flex;
}

.search--content {
    display: flex;
    width: 30%;
    padding-bottom: 12px;
}

.search--input {
    margin-top: 11px;   
    line-height: 25px;
    width: 100%;
    padding: 4px;
    font-size: 16px;
    border-radius: 6px;
}
.icon {
    padding-top: 42px;
    margin-left: 4px;
    padding: 6px 8px;
    margin-top: 12px;
    margin-bottom: 0px;
    cursor: pointer;
}
.icon:hover {
    background: red;
    border-radius: 18px;
}
.ti-search{
    font-size: 20px;
    color: #fff;
}
.cart {
    line-height: 26px;
    float: right;
    margin-top: -60px;
    cursor: pointer;

}
.cart:hover{
    background-color: red;
}

.cart--content{
    padding: 12px 10px;
}

.ti-shopping-cart {
    font-size: 30px;
    color: #fff;
}


