:root {
	--blue-color: #0575e6;
	--blue-lighter-color: #effaffe8;
	--grey-lighter-color: #fafafa;
	--grey-light-color: #f3f0f0;
	--grey-darker-color: #666666;
	--black-color: #000;
	--white-color: #fff;
	--shadow-color: #c1c1c1;
	--blue-darker-color: #040f29;
	--error-color: #ff623d;
	--success-color: #47d864;
	--warning-color: #ffc021;
	--info-color: #2f86eb;
}

html {
	font-size: 62.5%;
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	background-color: var(--grey-lighter-color);
}
.container {
	width: 1440px;
	max-width: 100%;
	margin: 0 auto;
}
.container-second {
	width: 1080px;
	max-width: 100%;
	margin: 0 auto;
}
input {
	outline: none;
	border: 1px solid var(--blue-darker-color);
	border-radius: 8px;
	padding: 8px 12px;
	font-size: 1.6rem;
	font-weight: 500;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes dropDown {
	0% {
		opacity: 0;
		/* height: 0; */
		transform: translateY(-10px);
	}
	100% {
		opacity: 1;
		/* height: 100%; */
		transform: translateY(0);
	}
}

@keyframes show {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}
/* 	 */
#modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
	z-index: 200;
	background-color: rgba(0, 0, 0, 0.4);
	transition: 0.25s linear;
}
#modal.show {
	display: block;
}
#modal.hide {
	display: none;
}
.modal__content {
	margin: auto;
	background-color: var(--white-color);
	border-radius: 4px;
	z-index: 100;
	transform-origin: top;
	animation: fadeIn 0.25s linear;
}

.modal__header {
	display: flex;
	align-items: center;
	/* padding: 8px 14px; */
	border-bottom: 1px solid var(--grey-color);
	color: var(--blue-black-color);
	background-color: var(--grey-lighter);
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}
.modal__body {
	padding: 10px 28px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}
.modal__title {
	font-size: 1.6rem;
	color: var(--blue-black-color);
	font-weight: 600;
}
.modal__close {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 16px;
	/* border: 1px solid var(--grey-light-color); */
	/* border-radius: 4px; */
	margin-left: auto;
	transition: 0.25s linear;
}
.modal__close:hover {
	cursor: pointer;
	background-color: var(--grey-color);
}

.modal__close i {
	font-size: 2rem;
	color: var(--grey-darker-color);
}
.btn {
	cursor: pointer;
	outline: none;
	min-width: 80px;
	padding: 1rem 1.2rem;
	text-align: center;
	font-weight: 600;
	font-size: 1.4rem;
	border-radius: 4px;
	border: 2px solid;
	transition: 0.25s linear;
}
.btn--primary {
	background-color: var(--black-color);
	border-color: var(--black-color);
	color: var(--white-color);
}
.btn--primary:hover {
	background-color: var(--white-color);
	border-color: var(--black-color);
	color: var(--black-color);
}
.btn--unradius {
	border-radius: 0px;
}
.back-to-top {
	height: 40px;
	width: 40px;
	background-color: var(--grey-darker-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	right: 40px;
	bottom: 40px;
	z-index: 2;
	cursor: pointer;
	opacity: 0;
	transition: 0.25s linear;
}
.back-to-top.active {
	opacity: 1;
}
.back-to-top i {
	color: var(--grey-lighter-color);
	font-size: 2rem;
}

.block {
	display: block;
}
.row {
	margin: 0 -15px;
}

/*  */
/* SEPARATE */
/*  */
.separate {
	margin: 30px 0;
}
.separate-main {
	border-bottom: 1px solid var(--grey-color);
}

.--separate-horizontal {
	width: 100%;
	height: 1px;
	background-color: var(--black-color);
}
.--separate-vertical {
	background-color: var(--grey-color);
	margin: 0 18px;
	/* height: 100%; */
	width: 1px;
}
.--separate-line {
	width: 100%;
	height: 1px;
	opacity: 0.2;
	background-color: var(--grey-darker-color);
	margin: 40px 0 40px 0;
}
.--is-relative {
	position: relative;
	min-height: 58px;
}

/*  */
.--text-spacing-2 {
	letter-spacing: 0.2rem;
}
.w-50 {
	width: 50%;
}

.mt-24 {
	margin-top: 24px;
}
.mt-20 {
	margin-top: 20px;
}
.mt-18 {
	margin-top: 18px;
}

.mb-18 {
	margin-bottom: 18px;
}
.mb-8 {
	margin-bottom: 8px;
}
.mb-4 {
	margin-bottom: 4px;
}
.h-16 {
	height: 16px;
}
.my-4 {
	margin: 4px 0;
}
.min-w-120 {
	min-width: 120px;
}
/* PRODUCT */

.products-heading {
	text-align: center;
	margin-bottom: 20px;
}
.products-heading h4 {
	font-size: 22px;
	color: var(--blue-black-color);
}
.products-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	/* column-gap: 10px; */
	/* margin: 0 -10px; */
}
.products-item {
	cursor: pointer;
	/* padding: 0 10px; */
	margin-bottom: 20px;
}
.products-item-4 {
	width: calc(25% - 10px);
}
.products-hot {
	margin-bottom: 60px;
}
.products-hot__heading {
	text-align: center;
	margin-bottom: 20px;
}
.products-hot__heading h4 {
	font-size: 22px;
	color: var(--blue-black-color);
}
.products-hot__list {
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -10px;
}
.products-item-link-img {
	width: 100%;
	height: 300px;
}
.products-item-thump {
	margin-bottom: 10px;
	position: relative;
}
.products-item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.products-item-tag {
	position: absolute;
	right: 10px;
	top: 10px;
	min-height: 45px;
	min-width: 45px;
	border-radius: 50%;
	background-color: var(--grey-darker-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.--tag-red {
	background-color: var(--red-color);
}
.products-item-tag p {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--white-color);
}
.products-item-tag .--best-seller {
	padding: 0px 4px;
}

.products-item-info {
	margin-top: 16px;
	text-align: center;
}
.products-item-name {
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--blue-black-color);
	margin-bottom: 4px;
	transition: 0.25s linear;
}
.products-item-name:hover {
	color: var(--red-color);
}
.products-item-price {
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--red-color);
}
.products-item-cart {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.products-item-cart:hover {
	cursor: pointer;
}
.products-item-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: var(--red-color);
	color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transform: scale(0);
	transform: rotate(-45deg);
	transition: 0.25s linear;
}
.products-item-thump:hover .products-item-circle {
	opacity: 1;
	transform: scale(1);
	transform: rotate(0deg);
}
.products-item-circle:hover {
	background-color: var(--blue-black-color);
}
.products-item-circle i {
	font-size: 2rem;
}

/* ***TOAST */

#toast {
	position: fixed;
	top: 32px;
	right: 20px;
	z-index: 999;
}
.toast {
	display: flex;
	align-items: center;
	min-width: 320px;
	max-width: 350px;
	background-color: #fff;
	border-left: 4px solid;
	padding: 20px 0;
	box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
	transition: all linear 0.3s;
}
@keyframes slideInLeft {
	0% {
		opacity: 0;
		transform: translateX(calc(100% + 32px));
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeOut {
	to {
		opacity: 0;
	}
}
.toast + .toast {
	margin-top: 16px;
}
.toast__icon {
	font-size: 24px;
}
.toast__body {
	flex-grow: 1;
}
.toast__title {
	font-size: 18px;
	font-weight: 600;
	color: #333;
}
.toast__msg {
	font-size: 14px;
	font-weight: 400;
	color: #555;
	margin-top: 6px;
}

.toast__icon,
.toast__close {
	padding: 0 16px;
}
.toast__close {
	font-size: 20px;
	color: rgba(0, 0, 0, 0.4);
	transition: all 0.2s linear;
}
.toast__close:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, 0.3);
}
.toast--success {
	border-color: #47d864;
}
.toast--success .toast__icon {
	color: #47d864;
}
.toast--error {
	border-color: #ff623d;
}
.toast--error .toast__icon {
	color: #ff623d;
}
.toast--warning {
	border-color: #ffc021;
}
.toast--warning .toast__icon {
	color: #ffc021;
}
.toast--info {
	border-color: #2f86eb;
}
.toast--info .toast__icon {
	color: #2f86eb;
}
